@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.low {
  background-color: #854dff;
  background-color: #ff5757;
  background-color: #f0f0f0;
  background-color: #dbdbdb;
  background-color: #716f6f;
  background-color: #141414;
}

.container {
  @apply py-20 p-0 md:py-[7rem] mx-auto w-full md:px-[4%];
}

.challenge_card_text {
  @apply text-[#6abecd];
}

.challenge_card_text:nth-child(2n) {
  @apply text-[#3e54a3];
}

.challenge_card_text:nth-child(3n) {
  @apply text-[#cf6390];
}
.challenge_card_text:nth-child(4n) {
  @apply text-[#aad742];
}

/* Tip Calculator */
.tip_btn {
  @apply py-1 bg-[#00494d] rounded-[4px] font-bold text-[#f4fafa] hover:bg-[#c5e4e7] hover:text-[#00494d] focus:text-[#00494d] focus:bg-[#26c0ab];
}

/* Age Calculator */
.age_input {
  @apply block text-[28px] md:text-[32px] w-[90px] md:w-[120px] rounded-md outline-none border-2 border-[#dbdbdb] px-1 md:px-3  focus:border-[#854dff] invalid:border-[#ff5757] focus:invalid:border-[#ff5757];
}
.age_input_false {
  @apply block text-[28px] md:text-[32px] w-[90px] md:w-[120px] rounded-md outline-none border-2 border-[#ff5757] px-1 md:px-3  focus:border-[#854dff] invalid:border-[#ff5757] focus:invalid:border-[#ff5757];
}
